[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"

[dev-packages]
jupyterlab = "*"
black = "*"
pyrf = {file = "."}

[requires]
python_version = "3.11"
